.link {  color: #FF0000; font: 8pt Verdana, Arial, Helvetica, sans-serif}
.titulo {  font: bold 9pt Verdana, Arial, Helvetica, sans-serif; color: #FF0000}
.texto {  color: #000000; font: 75%/14pt Verdana, Arial, Helvetica, sans-serif}
.textoHome {  font: 8pt Verdana, Arial, Helvetica, sans-serif; color: #9BEF47}
